<header>
  <nav class="navbar navbar-expand-md fixed-top bg-success text-white" >
    <span class="navbar-brand" href="#"> <i class="fas fa-eye-slash"></i> <i class="fas fa-eye"></i> {{ minute }} : {{ second }}

</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-right">
        <li class="nav-item"> Reset
        </li>
      </ul>
    </div>
  </nav>
</header>
